<div>

    <h1><%= `Editar cupom ${coupon.code}` %></h1>
    <h3>Estado atual:</h3>
    <h4>Código: <%= coupon.code %></h4>
    <h4>Desconto: <%= coupon.discount %></h4>

    <form method="POST" action=<%= `/manage-products/edit-coupon/${coupon.id}/update` %>>
        <input type="text" name="code" placeholder="Enter New Code" value=<%= `${coupon.code}` %>>
        <input type="text" name="discount" placeholder="Enter New Discount" value=<%= `${coupon.discount}` %>>
        <button type="submit">Update</button>
    </form>
    
</div>