<div>

    <h1>Lista de produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product) { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.stock %></td>
                <td><% if (product.stock <= 10) { %> (Baixo Estoque) <% }; %></td>
                <td>
                    <form method="POST" action=<%= `/list-products/buy-product/${product.id}` %>>
                        <input type="text" name="quantity" placeholder="Enter Quantity">
                        <input type="text" name="code" placeholder="Enter Coupon Code">
                        <button type="submit">Buy</button>
                    </form>
                </td>
                <td>
                    <a href=<%= `/list-products/see-product/${product.id}` %>>Ver produto</a>
                </td>
                <td>
                    <a href=<%= `/wish-list/add-to-wish-list/${product.id}` %>>Adicionar à lista de desejos</a>
                </td>
                <td>
                    <a href=<%= `/cart/add-to-cart/${product.id}` %>>Adicionar ao carrinho</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</div>
