<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>Lista de produtos</h1>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Stock</th>
            </tr>
        </thead>
        <tbody>
            <% products.forEach(function(product) { %>
            <tr>
                <td><%= product.name %></td>
                <td><%= product.price %></td>
                <td><%= product.stock %></td>
                <td>
                    <form method="POST" action=<%= `/list-products/buy-product/${product.id}` %>>
                        <input type="text" name="quantity" placeholder="Enter Quantity">
                        <button type="submit">Buy</button>
                    </form>
                </td>
                <td>
                    <a href=<%= `/list-products/see-product/${product.id}` %>>Ver produto</a>
                    <a href=<%= `/list-products/add-to-cart/${product.id}` %>>Adicionar ao carrinho</a>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>

</body>
</html>